body {
    background-color: rgb(60, 211, 198);
    background-image: url(/assets/img/diner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  #top-bar {
    margin-top: 28px;
  }
  
  .spacing-reset {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  .list-reset {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 0;
  }
  
 
  .image {
      height: 40%;
      /* width: 30%; */
  }

  .enter_section {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  #enter_text {
    width: 400px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 38px;
  }
  
  .task {
    border-color: black;
    border-style: solid;
    border-width: 3px;
  }
  
  .button-size {
    padding-bottom: 20px;
  }
  
  #text-enter-button {
    margin-top: 10px;
    margin-bottom: 18px;
  }
  
  h1 {
    color: rgb(0, 0, 0);
  }
  